body{background:#DBEEF4;font-family:arial;}
h1{font-size:130%;}
#hd{background:#EBF6F9;border-bottom:1px solid #93CDDD;}
.header{}
.headertitle{font-size:11px;color:#3E9BBB;font-weight:bold;}
#bd{margin-top:10px;}
ul.topmenu, .topmenu li{border:0; margin:0; padding:0; list-style:none;}
ul.topmenu{height:20px;}
.topmenu li{float:left; margin-right:5px;}
.topmenu a:link, .topmenu a:visited{background:url(../images/tab-round.png) right 60px;color:#FFF;font-size:11px;display:block;height:20px;line-height:20px;text-decoration:none;cursor:pointer;text-align:center;}
.topmenu a span{background:url(../images/tab-round.png) left 60px;display:block;height:20px;margin-right:10px;padding-left:10px;}
.topmenu a:hover{background:url(../images/tab-round.png) right 0px;display:block;color:#31859C;}
.topmenu a:hover span{background:url(../images/tab-round.png) left 0px;display:block;color:#31859C;}
.active a:link, .active a:visited, .active a:visited, .active a:hover{background:url(../images/tab-round.png) right 0 no-repeat;color:#31859C;} 
.active a span, .active a:hover span{background:url(../images/tab-round.png) left 0 no-repeat;color:#31859C;}

input,select{font-size:11px;font-family:arial;border:1px solid #93CDDD;}
input[type='radio'],input[type='checkbox']{border:0}
.yui-skin-sam .yui-dialog .ft span.default button {color:#222;}
.button{clear:both;background:#77BBD3;border:1px solid #77BBD3;color:#FFFFFF;font-size:11px;font-family:arial;font-weight:bold;margin-right:2px;padding:2px}
.error{border:solid 1px #CC0000;background:#F7CBCA;color:#CC0000;font-weight:bold;padding:4px;text-align:center;}
.success{border:solid 1px #349534;background:#C9FFCA;color:#008000;font-weight:bold;padding:4px;text-align:center;}
table{width:100%;margin:0px;padding:0;border-collapse:collapse;border-color:#ccc;}
.datatable{border:1px solid #93CDDD;}
.datatable th{padding:4px 10px;background:#B7DEE8;border:1px solid #FFF;color:#000;font-weight:normal;font-size:11px;text-align:center}
.datatable td{padding:4px 10px;font-size:8pt;text-align:left;border:1px solid #FFF;color:#222;height:20px;}
.datatable td a{text-decoration:none;}

.datatable1{border:1px solid #93CDDD;}
.datatable1 th{padding:4px 10px;background:#B7DEE8;border:1px solid #FFF;color:#000;font-weight:normal;font-size:11px;text-align:left}
.datatable1 td{padding:4px 10px;font-size:8pt;text-align:left;border:1px solid #FFF;color:#222;height:20px;}
.datatable1 td a{text-decoration:none;}

.yui-panel.import_view_page td {
    text-align: left;
}
.colhead{background:#B7DEE8;}
.even{background:#DBEEF4;}
.odd{background:#E9F1F5;}
fieldset {border:1px solid #d4d4d4;}
fieldset legend{font-weight:normal;}
fieldset div{margin:10px;}
fieldset div table tr{height:20px;}

INPUT[type=text]:hover{background:#f4f4f4;}

.guagehd{position:relative;text-align:center;padding-left:15px;top:18px;height:20px;background:#F6FAFC;font-weight:bold;font-size:11px;color:#31849B;}
.campmd {clear:both;}
.campmd li{float:left;display:block;margin-right:5px;}
.campmd li label{display:block;font-size:11px;font-family:arial;font-weight:normal;}
.campmd li select,.campmd li input{font-size:11px;font-family:arial;}

.progress {clear:both;margin-top:5px;margin-bottom:5px;float:right;}
.progress li{background:#6EB6D0;margin-right:5px;float:left;font-weight:bold;width:150px;text-align:center;}
.progress li span{text-align:left;font-weight:normal;}
.progress li a{color:#FFF;text-decoration:none;padding:10px;line-height:25px;}

.left{float:left;}.right{float:right;}.clear{clear:both}
.filters{padding:0;margin:0;}
.filters li{padding-bottom:5px;float:left;width:120px;font-size:11px;color:#444;}
.filters li select{color:#888;}
.filters li label{width:100px;display:block;}
.fillabel{width:130px;font-weight:bold;}
.filters li.odd{background:#C7DFFF;}
.filters li.even{background:#E7F2FF;}

#leftnav{width:180px;}
#treeDiv1{background:#EBF6F9;border:1px solid #93CDDD;font-size:11px;padding:3px;}
.ygtvdepth0 {font-weight:bold;font-size:11px;}
.yui-dt-editor .yui-dt-button button.yui-dt-default,.yui-dt-editor .yui-dt-button button {background:#77BBD3;border:1px solid #77BBD3;color:#FFFFFF;font-size:10px;font-family:arial;font-weight:bold;margin-right:2px;}
/* menu */
#topmenu {}
#tabcc .yui-nav{}
.yui-skin-sam .yui-navset .yui-nav .selected a, .yui-skin-sam .yui-navset .yui-nav .selected a em {border-color:#6EB6D0;}
.yui-skin-sam .yui-navset .yui-nav, .yui-skin-sam .yui-navset .yui-navset-top .yui-nav {border:0;border-color:#4E8A95;}
.yui-skin-sam .yui-navset .yui-nav .selected a, .yui-skin-sam .yui-navset .yui-nav .selected a:focus, .yui-skin-sam .yui-navset .yui-nav .selected a:hover {background:#DBEEF4;color:#31859C;}
.yui-skin-sam .yui-navset .yui-nav a, .yui-skin-sam .yui-navset .yui-navset-top .yui-nav a {background:#6EB6D0;color:#FFF;}
.yui-skin-sam .yui-navset .yui-nav a em, .yui-skin-sam .yui-navset .yui-navset-top .yui-nav a em {border-color:#6EB6D0;}
.yui-skin-sam .yui-navset .yui-nav a:hover,.yui-skin-sam .yui-navset .yui-nav a:focus {background:#DBEEF4;color:#31859C;}
.yui-skin-sam .yui-navset .yui-nav .selected, .yui-skin-sam .yui-navset .yui-navset-top .yui-nav .selected,
.yui-skin-sam .yui-navset .yui-nav li, .yui-skin-sam .yui-navset .yui-navset-top .yui-nav li {margin:0 0.4em 0 0;}
.yui-skin-sam .yui-navset .yui-nav .selected a em {padding:0.25em 0.75em;}


.yui-skin-sam .yuimenu .bd{background: #EBF6F9;border: solid 1px #91CBDC;padding: 1px;}
.yui-skin-sam .yuimenu li {border-bottom:1px dotted #91CBDC;}
.yui-skin-sam .yuimenuitemlabel{font-size:11px;}
.yui-skin-sam .yuimenuitem-selected,.menu-selected  {background: #91CBDC;}
.yui-skin-sam .yuimenuitemlabel-selected{text-decoration: none;color: #154356;}
/*----------------------------------------*/
.yui-skin-sam .yui-dt table{border-color:#93CDDD;font-family:arial;font-size:11px;}
.yui-skin-sam .yui-dt table tr{height:25px;}
.yui-skin-sam .yui-dt th{border-right:1px solid #FFF;}
.yui-skin-sam .yui-dt tr.yui-dt-first td{border-top:1px solid #93CDDD;}
.yui-skin-sam .yui-dt th{background:#B7DEE8;text-align:left;font-size:11px;}
.yui-skin-sam .yui-dt th a{font-size:11px;}
.yui-skin-sam .yui-dt td{border:none;border-bottom:1px solid #FFF;border-right:1px solid #FFF;text-align:left;color:#000;}
.yui-skin-sam th.yui-dt-asc,.yui-skin-sam th.yui-dt-desc{background:#B7DEE8;}
.yui-skin-sam tr.yui-dt-even{background-color:#DBEEF4;}.yui-skin-sam tr.yui-dt-odd{background-color:#E9F1F5;}
.yui-skin-sam tr.yui-dt-even td.yui-dt-asc,.yui-skin-sam tr.yui-dt-even td.yui-dt-desc{background-color:#DBEEF4;}
.yui-skin-sam tr.yui-dt-odd td.yui-dt-asc,.yui-skin-sam tr.yui-dt-odd td.yui-dt-desc{background-color:#DBEEF4;}
.yui-skin-sam .yui-dt-list tr.yui-dt-even{background-color:#DBEEF4;}
.yui-skin-sam th.yui-dt-highlighted,.yui-skin-sam th.yui-dt-highlighted a{background-color:#B7DEE8;}
.yui-skin-sam tr.yui-dt-highlighted,.yui-skin-sam tr.yui-dt-highlighted td.yui-dt-asc,.yui-skin-sam tr.yui-dt-highlighted td.yui-dt-desc,.yui-skin-sam tr.yui-dt-even td.yui-dt-highlighted,.yui-skin-sam tr.yui-dt-odd td.yui-dt-highlighted{cursor:pointer;background-color:#B7DEE8;}
.yui-skin-sam .yui-dt-list th.yui-dt-highlighted,.yui-skin-sam .yui-dt-list th.yui-dt-highlighted a{background-color:#B7DEE8;}
.yui-skin-sam .yui-dt-list tr.yui-dt-highlighted,.yui-skin-sam .yui-dt-list tr.yui-dt-highlighted td.yui-dt-asc,.yui-skin-sam .yui-dt-list tr.yui-dt-highlighted td.yui-dt-desc,.yui-skin-sam .yui-dt-list tr.yui-dt-even td.yui-dt-highlighted,.yui-skin-sam .yui-dt-list tr.yui-dt-odd td.yui-dt-highlighted{cursor:pointer;background-color:#B7DEE8;}.yui-skin-sam th.yui-dt-selected,.yui-skin-sam th.yui-dt-selected a{background-color:#446CD7;}
.yui-skin-sam tr.yui-dt-selected td,.yui-skin-sam tr.yui-dt-selected td.yui-dt-asc,.yui-skin-sam tr.yui-dt-selected td.yui-dt-desc{background-color:#426FD9;}
.yui-skin-sam tr.yui-dt-even td.yui-dt-selected,.yui-skin-sam tr.yui-dt-odd td.yui-dt-selected{background-color:#446CD7;}
.yui-skin-sam .yui-dt-list th.yui-dt-selected,.yui-skin-sam .yui-dt-list th.yui-dt-selected a{background-color:#446CD7;}
.yui-skin-sam .yui-dt-list tr.yui-dt-selected td,.yui-skin-sam .yui-dt-list tr.yui-dt-selected td.yui-dt-asc,.yui-skin-sam .yui-dt-list tr.yui-dt-selected td.yui-dt-desc{background-color:#426FD9;}
.yui-skin-sam .yui-dt-list tr.yui-dt-even td.yui-dt-selected,.yui-skin-sam .yui-dt-list tr.yui-dt-odd td.yui-dt-selected{background-color:#446CD7;}
.yui-skin-sam .yui-dt-paginator{display:block;margin:6px 0;white-space:nowrap;}
.yui-skin-sam .yui-dt-paginator .yui-dt-first,.yui-skin-sam .yui-dt-paginator .yui-dt-last,.yui-skin-sam .yui-dt-paginator .yui-dt-selected{padding:2px 6px;}
.yui-skin-sam .yui-dt-paginator a.yui-dt-first,.yui-skin-sam .yui-dt-paginator a.yui-dt-last{text-decoration:none;}
.yui-skin-sam .yui-dt-paginator .yui-dt-previous,.yui-skin-sam .yui-dt-paginator .yui-dt-next{display:none;}
.yui-skin-sam a.yui-dt-page{border:1px solid #FFF;}
.yui-skin-sam .yui-dt-selected{border:1px solid #fff;}
.yui-skin-sam .yui-dt td.align-right  {text-align:right;}
.yui-skin-sam .yui-dt td.align-center  {text-align:center;}

.yui-dt-hidden{border-right:0 !important}
/*-----------------------------------------*/
.yui-skin-sam .yui-button {background:#77BBD3;border-color:#DBEEF4;}
.yui-skin-sam .yui-button button, .yui-skin-sam .yui-button a, .yui-skin-sam .yui-button a:visited {color:#FFF}
.yui-skin-sam .yui-button .first-child {border-color:#DBEEF4;}
.yui-skin-sam .yui-button button, .yui-skin-sam .yui-button a {font-size:11px;}
.yui-skin-sam .yui-dialog .ft span.default {background-position:0 -1300px;}
.yui-skin-sam .yui-radio-button-checked, .yui-skin-sam .yui-checkbox-button-checked {background-position:0 -1300px;}
.yui-skin-sam .yui-radio-button-checked button, .yui-skin-sam .yui-checkbox-button-checked button {color:#222;}
.yui-skin-sam .yui-dt-liner {padding:3px;}

.yui-skin-sam .yui-pg-first, .yui-skin-sam .yui-pg-previous, .yui-skin-sam .yui-pg-next, .yui-skin-sam .yui-pg-last, .yui-skin-sam .yui-pg-current, .yui-skin-sam .yui-pg-pages, .yui-skin-sam .yui-pg-page{font-family:arial;font-size:11px;color:#666;}



.yui-skin-sam .yui-panel{border-color: #93CDDD;font-size:11px;}
.yui-skin-sam .yui-panel .hd, .yui-skin-sam .yui-panel .bd, .yui-skin-sam .yui-panel .ft {border-color:#93CDDD;}
.yui-skin-sam .yui-panel .hd{background:#B7DEE8;line-height:25px;padding-left:10px;font-weight:bold;font-size:11px;color:#144D62;}
.yui-skin-sam .yui-panel .bd{color:#144D62;}
.yui-skin-sam .yui-panel .ft,.yui-skin-sam .yui-panel .bd{background-color:#EBF6F9;padding:10px;font-size:11px;}
.yui-skin-sam .yui-panel .bd input{padding:2px;}

.yui-skin-sam .ygtvlabel, .yui-skin-sam .ygtvlabel:link, .yui-skin-sam .ygtvlabel:visited, .yui-skin-sam .ygtvlabel:hover {background-color:transparent;}
.body h2 {color:#424A55;font-family:arial;font-size:22px;font-size-adjust:none;font-stretch:normal;font-style:normal;font-variant:normal;font-weight:normal;line-height:normal;margin:10px 0 20px;padding:16px 5px 14px 65px;}

/* contact */
h2.contact {font-size:150%;padding:15px;}
ul.contact { padding:0; list-style:none;} 
ul.contact li { line-height:50px;font-size:11px;}
ul.contact li img{float:left;margin-right:10px;}
ul.contact li a { padding:0; margin:0; background:none;}


.yui-skin-sam a.yui-pg-first:link, .yui-skin-sam a.yui-pg-first:visited, .yui-skin-sam a.yui-pg-first:active, .yui-skin-sam a.yui-pg-first:hover, .yui-skin-sam a.yui-pg-previous:link, .yui-skin-sam a.yui-pg-previous:visited, .yui-skin-sam a.yui-pg-previous:active, .yui-skin-sam a.yui-pg-previous:hover, .yui-skin-sam a.yui-pg-next:link, .yui-skin-sam a.yui-pg-next:visited, .yui-skin-sam a.yui-pg-next:active, .yui-skin-sam a.yui-pg-next:hover, .yui-skin-sam a.yui-pg-last:link, .yui-skin-sam a.yui-pg-last:visited, .yui-skin-sam a.yui-pg-last:active, .yui-skin-sam a.yui-pg-last:hover, .yui-skin-sam a.yui-pg-page:link, .yui-skin-sam a.yui-pg-page:visited, .yui-skin-sam a.yui-pg-page:active, .yui-skin-sam a.yui-pg-page:hover {text-decoration:none;font-family:arial;}

#autocomplete_lname,#autocomplete_email,#autocomplete_fname,#autocomplete_city,#autocomplete_state,#autocomplete_phone, #autocomplete_zip {height: 30px;font-family:arial}
#dt_email,#dt_lname,#dt_fname,#dt_city,#dt_state,#dt_phone, #dt_input_zip {position: static;}
#dt_input_zip {width: 60px;}
#dt_ac_container, #dt_ac_zip_container {display: none;}
#paginated {text-align: center;}
#paginated table {margin-left:auto; margin-right:auto;}
#paginated, #paginated .yui-dt-loading {text-align: center; background-color: transparent;}

.searchhdrow td{font-weight:bold;font-size:11px;}
#navtitle {text-decoration:none;color:#31859C;}
#dt-options-link,#navtitle {text-decoration:none;color:#31859C;font-size:10px;}
 h6{font-size:150%}  

#dt-example {width:45em;margin:0 auto;}
#dt-options {text-align:right;}
#dt-dlg {visibility:hidden;border:1px solid #808080;}
#dt-dlg .hd {font-weight:bold;}
#dt-dlg .ft {text-align:right;padding:.5em;background-color:#EDF5FF;}
#dt-dlg .bd {height:20em;overflow:auto;font-size:11px;}
#dt-dlg .dt-dlg-pickercol {clear:both;}
#dt-dlg .dt-dlg-pickerkey {float:left;}
#dt-dlg .dt-dlg-pickerbtns {float:right;}

.yui-panel-container.hide-scrollbars #dt-dlg .bd {overflow: hidden;}
.yui-panel-container.show-scrollbars #dt-dlg .bd {overflow: auto;}
#dt-dlg_c .underlay {overflow:hidden;}
.inprogress {position:absolute;} /* transitional progressive enhancement state */
                                   
.cursor
{
   cursor : pointer;
}